.circular-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu {
    margin-left: auto;
}

.brand-name {
    margin-right: 1100px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu ul li {
    padding: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    padding: 50px;
    text-align: center;
}

.hero-image img {
    width: 200px;
    height: 200px;

}

.hero-text h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #666;
}

.aboutme {
    width: 100%;
    padding: 78px 0px;
  }
  
  .aboutme img {
    height: auto;
    width: 420px;
  }
  
  .aboutme-info {
    width: 550px;
  }
  
  .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .aboutme-info h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  
  .aboutme-info h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  
  span {
    color: blue;
  }
  
  .aboutme-info p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  }
  
  .homeab-btm {
    display: inline-block;
    margin-right: 10px;
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 38px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;
  }
  
  .homeab-btm:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }

.learn-maths {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 78px 0px;
  }

  .footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 411px) {
    /* Example: Resize the navigation menu font size for smaller screens */
    .menu ul li a {
        font-size: 14px;
    }
}